/*--------------------------Values saved----------------*/
$black:black;
$white:white;
$font:'Lato', sans-serif;;
$dark-blue:rgb(1, 24, 71);
$green:rgb(132, 188, 34);
$darker-blue:#262a32;
$light-grey:rgba(69, 65, 62, 0.502);
$lighter-gray:rgb(232, 226, 214);

/*--------------------- Style of the body---------------- */
body{
    background-color:$white;
}
/* ---------------------The header style -------------------*/
.header {
    width:100%;
    position: fixed;
    overflow: hidden;
    padding:30px 10px 20px 0px;
    background-color: $white;
    font-family: $font;
    display:flex;
    justify-content: space-around;
    border-bottom:3px solid $lighter-gray;
    margin-left:-1%;
  }
  
  /*-------------------- Style the header-links --------------*/
  .header a {
    color: $black;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
  }
  
  /*-------------------------left header styling-------------------*/
  .header a.logo {
    font-size: 25px;
  }

  .header a.logo img{
    width:30%;
  }

  .header a.logo h1{
    float:right;
    line-height: 1.2;
    font-size: 31.655px;
    font-family: $font;
    color:$dark-blue;
    font-weight:900;
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    left: 12%;
    top: 10%;
  }

  .Academy {
    font-size: 18px;
    color: $green;
    position: absolute;
    font-weight: 700;
  }

  .header-center, .header-right{
      padding-top:1.4%;
      font-weight:700;
  }

/*------------------------------Styling the dropdown content--------------------------*/

.dropdown, .dropdown2  {
  position: relative;
  display: inline-block;
}

/* --------------------Dropdown Content (Hidden by Default) -------------------*/
.dropdown-content {
  display: none;
  position: fixed;
  background-color:$darker-blue;
  width:97%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top:2.8%;
  left: 50%;
  transform: translateX(-50%);
}
/*------------------------------Columns for the mega menu--------------*/
.column {
  float: left;
  width: 15%;
  margin-left:5%;
  margin-top:4%;
  margin-bottom:4%;
}

/* ----------------------Clear floats after the columns -----------------*/
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* ----------------------------Links inside the dropdown ---------------*/
.dropdown-content a {
  color: $white;
  font-size:15px;
  font-weight:400;
  line-height: 1.2;
  text-decoration: none;
  display: block;
  margin-left:-12px;
}

/*-----------------------------Styling the Titles in the dropdown contect---*/
.column h2{
  color:$white;
  font-size: 18px;
  font-weight: 900;
}

/*------Styling the empty space to keep all the columns inside the dropdown at the same level--*/
.column .downsize{
  font-size:64px;
}

/*----------------------style the image in the dropdown content-----*/
.column img{
  width:140%;
  margin-top:20%;
  margin-left: -60%;
  border-radius:5%;
}

/* --------------------Show the dropdown menu on hover------------------ */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* and for the rest of the buttons to be some hover over them */
.dropdown:hover .dropbtn,
.header-center .princ-button:hover {
  background-color: $darker-blue;
  color:$white;
  border-bottom: 5px solid $green;
  padding-bottom:40px;
  }

  /*------------------------------------DROPDOWN2-----------------------------*/
  #droptdownbtn2{
    color:$light-grey;
  }
  .dropdown-content2 {
    display: none;
    position: fixed;
    background-color:$white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    justify-content: flex-start;
  }
  /* Links inside the dropdown */
  .dropdown-content2 a {
    color: $black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content2 a:hover{
    background-color:rgb(228, 227, 227);
  }
  /* Show the dropdown menu on hover */
  .dropdown2:hover .dropdown-content2 {display: block;}
  
 
  
