/*--------------------------Values saved----------------*/
@media only screen and (max-width: 1264px) and (min-width: 1138px) {
  .slideshow-container .text-left {
    font-size: 30px;
  }
  .slideshow-container .minitext-left {
    font-size: 12px;
  }
  .slideshow-container .viewmorebtn {
    padding: 5px 30px;
    bottom: 10%;
  }
  .slideshow-container .text-center {
    left: 25%;
  }
  .slideshow-container .minitext-center {
    left: 30%;
  }
  .slideshow-container .center {
    left: 40%;
  }
  .slideshow-container .text-right {
    font-size: 30px;
  }
  .slideshow-container .minitext-right {
    font-size: 12px;
  }
  .slideshow-container .viewmorebtn-right {
    padding: 5px 30px;
    bottom: 10%;
  }

  .alldots .dot {
    height: 5px;
    width: 5px;
    border: 2px solid transparent;
  }
  .alldots .active, .alldots .dot:hover {
    border: 2px solid white;
  }

  .popular-items-section .products-row {
    width: 100%;
  }
  .popular-items-section .products-row .products-column {
    width: 25%;
    margin-bottom: 4%;
  }
  .popular-items-section .products-row .products-column .img img {
    width: 100%;
  }
  .popular-items-section .products-row .products-column .img .product-title {
    font-size: 10px;
  }
  .popular-items-section .products-row .products-column .img .price {
    font-size: 10px;
  }
  .popular-items-section .products-row .products-column .img .buttons1 {
    left: 10%;
  }
  .popular-items-section .products-row .products-column .img .buttons1 .Price-button a {
    font-size: 15px;
  }
  .popular-items-section .products-row .products-column .img .buttons1 .BuyNow-button {
    font-size: 15px;
  }
  .popular-items-section .products-row .products-column .img .image__overlay-gradient {
    width: 100%;
  }

  .banner h1 {
    font-size: 50px;
    top: 30%;
  }
  .banner h2 {
    font-size: 20px;
  }

  .featured-products .gallery-cell .img-carousel h3 {
    bottom: 20%;
    left: 20%;
    font-size: 12px;
  }
  .featured-products .gallery-cell .img-carousel p {
    left: 35%;
  }

  .CLP-products .CLP-products-row {
    width: 100%;
  }
  .CLP-products .CLP-products-row .CLP-products-column {
    width: 25%;
    margin-bottom: 4%;
  }
  .CLP-products .CLP-products-row .CLP-products-column .img img {
    width: 100%;
  }
  .CLP-products .CLP-products-row .CLP-products-column .img .product-title {
    font-size: 10px;
  }
  .CLP-products .CLP-products-row .CLP-products-column .img .price {
    font-size: 10px;
  }

  .PDP-content .content-bottom .tab button {
    font-size: 19px;
  }

  .products-box .buttons-content .content-left button {
    padding: 10px 30px;
    font-size: 15px;
  }
}
/* for tablets */
@media only screen and (max-width: 1138px) and (min-width: 767px) {
  .header a {
    font-size: 10px;
  }
  .header a .logo {
    font-size: 15px;
  }
  .header a.logo img {
    width: 20%;
  }
  .header a.logo h1 {
    font-size: 20px;
    top: -1%;
  }

  .Academy {
    font-size: 12px;
  }

  .header-right a {
    margin-left: -10px;
  }
  .header-right a .ellipse {
    border: 1px solid #84bc22;
    font-size: 8px;
    padding: 2px;
  }

  .header-center {
    margin-right: 10px;
  }

  .modal-content {
    width: 50%;
  }

  .homepage {
    margin: 2%;
    margin-top: 15%;
    margin-left: 2%;
  }
  .homepage .right-content .btn55 h1 {
    font-size: 50px;
  }
  .homepage .right-content .socialmedia-text button {
    padding: 5px 15px;
    font-size: 15px;
  }

  .slideshow-container .text-left {
    font-size: 30px;
  }
  .slideshow-container .minitext-left {
    font-size: 12px;
  }
  .slideshow-container .viewmorebtn {
    padding: 5px 30px;
    bottom: 10%;
  }
  .slideshow-container .text-center {
    left: 15%;
  }
  .slideshow-container .minitext-center {
    left: 20%;
  }
  .slideshow-container .center {
    left: 35%;
  }
  .slideshow-container .text-right {
    font-size: 30px;
  }
  .slideshow-container .minitext-right {
    font-size: 12px;
  }
  .slideshow-container .viewmorebtn-right {
    padding: 5px 30px;
    bottom: 10%;
  }

  .alldots .dot {
    height: 5px;
    width: 5px;
    border: 2px solid transparent;
  }
  .alldots .active, .alldots .dot:hover {
    border: 2px solid white;
  }

  .popular-items-section .products-column {
    width: 50%;
    margin-bottom: 4%;
  }
  .popular-items-section .products-column .img {
    width: 72%;
  }

  .banner h1 {
    font-size: 40px;
    top: 10%;
  }
  .banner h2 {
    font-size: 15px;
  }

  .featured-products .gallery-cell .img-carousel h3 {
    bottom: 20%;
    left: 10%;
    font-size: 12px;
  }
  .featured-products .gallery-cell .img-carousel p {
    left: 30%;
  }

  .benefits-content .benefits-content-content i {
    font-size: 70px;
  }
  .benefits-content .benefits-content-content .text-content {
    margin-right: 21px;
  }
  .benefits-content .benefits-content-content .text-content h2 {
    font-size: 18px;
  }
  .benefits-content .benefits-content-content .text-content p {
    font-size: 10px;
  }

  .Filters .filters-row {
    width: 100%;
  }
  .Filters .filters-column {
    width: 51%;
    margin-left: 23%;
  }
  .Filters .filters-column select {
    width: 90%;
  }

  .CLP-products .CLP-products-row {
    width: 100%;
  }
  .CLP-products .CLP-products-row .CLP-products-column {
    width: 25%;
    margin-bottom: 4%;
  }
  .CLP-products .CLP-products-row .CLP-products-column .img img {
    width: 100%;
  }
  .CLP-products .CLP-products-row .CLP-products-column .img .product-title {
    font-size: 8px;
  }
  .CLP-products .CLP-products-row .CLP-products-column .img .price {
    font-size: 8px;
  }

  .page404-content .content-left {
    width: 50%;
  }
  .page404-content .content-left h2 {
    font-size: 100px;
    top: 15%;
  }
  .page404-content .content-right {
    margin-left: 10%;
  }
  .page404-content .content-right button {
    padding: 1% 70% 1% 2%;
  }

  .PDP-content .PDP-product-details .content-left .smallpic-row {
    width: 17%;
  }
  .PDP-content .content-bottom .tab button {
    font-size: 10px;
  }
  .PDP-content .content-bottom .tabcontent {
    columns: 1;
  }
  .PDP-content .content-bottom .tabcontent .column2-tab {
    padding: 0;
  }

  .products-box .products .product-row .product img {
    width: 100px;
  }
  .products-box .products .product-row .product .product-name {
    font-size: 12px;
  }
  .products-box .products .product-row .quantity button {
    font-size: 12px;
  }
  .products-box .products .product-row .total {
    font-size: 20px;
  }
  .products-box .buttons-content .content-left button {
    padding: 10px 20px;
    font-size: 10px;
  }
  .products-box .buttons-content .content-left .content-left-left .cupon {
    width: 50%;
    font-size: 12px;
  }
  .products-box .buttons-content .content-left .content-right-right {
    margin-top: 2%;
  }
  .products-box .buttons-content .content-bottom .order-total .right {
    font-size: 30px;
  }
}
/* for phones */
@media only screen and (max-width: 767px) and (min-width: 280px) {
  .header {
    justify-content: center;
    /*a.logo img{
      width: 40%;
      display: grid;
      margin: -10% auto;
    }*/
  }
  .header .header-left {
    display: none;
  }
  .header a.logo h1 {
    display: none;
  }

  .header-right {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #262a32;
    color: white;
    text-align: center;
    padding: 20px 0px 20px 20px;
    opacity: 1;
  }
  .header-right a {
    font-size: 30px;
    text-decoration: none;
    color: #e8e2d6;
    margin-right: 5%;
    margin-left: 5%;
    opacity: 1;
  }
  .header-right .ellipse {
    border: 2px solid #84bc22;
    border-radius: 50%;
    position: absolute;
    color: #84bc22;
    font-size: 14px;
    padding: 2px 4px;
    top: -10px;
    right: -10px;
    background-color: #262a32;
    font-weight: 400;
    text-align: center;
  }

  .header-center {
    display: none;
  }

  .media-dropdown {
    display: block;
    text-align: left;
    line-height: 70px;
    width: 100%;
    margin-left: 2%;
  }
  .media-dropdown label {
    width: 50px;
    font-size: 50px;
    color: #45413e;
    margin: 0 35% 0 0;
    line-height: 70px;
    cursor: pointer;
  }
  .media-dropdown .PictureWoman {
    width: 70%;
    border-radius: 5%;
  }
  .media-dropdown .logo-query {
    width: 15%;
  }

  .menu-media {
    width: 100%;
    height: 550px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    margin: 0 30px 0 0;
    text-align: center;
    display: none;
    border: 1px solid black;
    background-color: #262a32;
  }
  .menu-media label {
    font-size: 15px;
    margin: 0;
  }
  .menu-media input {
    display: inline;
    position: absolute;
    left: 100px;
    top: 120px;
  }
  .menu-media p {
    text-decoration: none;
    color: white;
    margin: 0;
    line-height: 70px;
    display: block;
    font-family: "Lato", sans-serif;
    text-align: left;
    margin-left: 30px;
    cursor: pointer;
  }
  .menu-media p:hover {
    border-bottom: 5px solid #84bc22;
  }

  .sub-menu-media {
    display: none;
    margin-left: 10px;
  }
  .sub-menu-media label {
    font-size: 15px;
  }
  .sub-menu-media span {
    font-size: 15px;
  }
  .sub-menu-media a {
    text-decoration: none;
    color: white;
    margin: 0;
    line-height: 50px;
    display: block;
    font-family: "Lato", sans-serif;
    text-align: left;
    font-size: 15px;
  }

  .sub-menu2-media {
    margin-left: 50px;
    display: none;
  }

  .sub-menu3-media {
    display: none;
    margin-left: 50px;
  }

  #toggle-second:checked + .sub-menu-media {
    display: block;
  }

  #toggle-third:checked + .sub-menu2-media {
    display: block;
  }

  #toggle-fourth:checked + .sub-menu3-media {
    display: block;
  }

  #toggle-fifth:checked + .sub-menu4-media {
    display: block;
  }

  #toggle-sixth:checked + .sub-menu5-media {
    display: block;
  }

  .sub-menu4-media {
    display: none;
  }

  .sub-menu4-media {
    margin-left: 20px;
  }
  .sub-menu4-media label {
    font-size: 15px;
  }
  .sub-menu4-media span {
    font-size: 15px;
  }
  .sub-menu4-media a {
    text-decoration: none;
    color: white;
    margin: 0;
    line-height: 50px;
    display: block;
    font-family: "Lato", sans-serif;
    text-align: left;
    font-size: 15px;
  }

  .sub-menu5-media {
    display: none;
    margin-left: 10px;
  }
  .sub-menu5-media label {
    font-size: 15px;
  }
  .sub-menu5-media span {
    font-size: 15px;
  }
  .sub-menu5-media a {
    text-decoration: none;
    color: white;
    margin: 0;
    line-height: 50px;
    display: block;
    font-family: "Lato", sans-serif;
    text-align: left;
    font-size: 15px;
  }

  #toggle,
#toggle-second,
#toggle-third,
#toggle-fourth,
#toggle-fifth,
#toggle-sixth {
    display: none;
  }

  #toggle:checked + .menu-media {
    display: block;
  }

  /*----------------------Styling the modal-------*/
  .modal-content {
    width: 100%;
    height: 60%;
  }

  .imgcontainer h1 {
    font-size: 27px;
  }

  .close {
    font-size: 20px;
  }

  .loginbtn {
    font-size: 12px;
    padding: 14px 50px;
  }

  .idonthave {
    font-size: 15px;
  }

  /*-------------------------END LOG IN MODAL FOR MEDIA--------------*/
  .mobile-footer {
    display: none;
  }

  .homepage {
    margin-top: 30%;
    display: block;
    width: 90%;
  }
  .homepage .right-content {
    display: none;
  }
  .homepage .left-content {
    width: 100%;
    height: 100%;
  }

  .slideshow-container .text-left {
    font-size: 40px;
  }
  .slideshow-container .minitext-left {
    font-size: 20px;
  }
  .slideshow-container .viewmorebtn {
    padding: 10px 30px;
    bottom: 15%;
  }
  .slideshow-container .text-center {
    left: 10%;
  }
  .slideshow-container .minitext-center {
    left: 10%;
  }
  .slideshow-container .center {
    left: 30%;
  }
  .slideshow-container .text-right {
    font-size: 40px;
  }
  .slideshow-container .minitext-right {
    font-size: 20px;
  }
  .slideshow-container .viewmorebtn-right {
    padding: 10px 30px;
    bottom: 15%;
  }
  .slideshow-container .mySlides img {
    width: 100%;
    height: 500px;
  }

  .popular-items-section .products-row {
    display: none;
  }
  .popular-items-section .products-column {
    display: none;
  }

  .loadbtn-section .load-btn {
    display: none;
  }

  .slideshow-media-products {
    display: block;
    /* Hide the images by default */
    /* Next & previous buttons */
    /* Position the "next button" to the right */
    /* On hover, add a black background color with a little bit see-through */
  }
  .slideshow-media-products .slideshow-container1 {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  .slideshow-media-products .mySlides1 {
    display: none;
    margin: auto;
  }
  .slideshow-media-products .mySlides1 .img {
    position: relative;
    text-align: center;
    width: 80%;
    margin: auto;
  }
  .slideshow-media-products .mySlides1 .img img {
    width: 100%;
  }
  .slideshow-media-products .mySlides1 .img .product-title {
    position: absolute;
    bottom: 15%;
    left: 7%;
    color: #45413e;
    font-size: 15px;
    font-weight: 400;
  }
  .slideshow-media-products .mySlides1 .img .title-center {
    left: 25%;
  }
  .slideshow-media-products .mySlides1 .img .price {
    position: absolute;
    bottom: 3%;
    left: 38%;
    color: #45413e;
    font-size: 15px;
  }
  .slideshow-media-products .mySlides1 .img .image__overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 99.5%;
    border-radius: 5px;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
  }
  .slideshow-media-products .mySlides1 .img .image__overlay--primary {
    background-image: -webkit-linear-gradient(90deg, #1cc167 0%, #2ed3a2 100%);
  }
  .slideshow-media-products .mySlides1 .img .image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
  }
  .slideshow-media-products .mySlides1 .img .image__overlay:hover {
    opacity: 0.902;
  }
  .slideshow-media-products .mySlides1 .img .image__overlay:hover > * {
    transform: translateY(0);
  }
  .slideshow-media-products .mySlides1 .img .buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .slideshow-media-products .mySlides1 .img .buttons button {
    margin-left: 4%;
    border-radius: 50%;
    border: 2px solid transparent;
    padding: 8% 11%;
    font-size: 40px;
  }
  .slideshow-media-products .mySlides1 .img .buttons .Plus-button {
    color: #23c46e;
  }
  .slideshow-media-products .mySlides1 .img .buttons .Heart-button {
    color: #e73c68;
  }
  .slideshow-media-products .mySlides1 .img .buttons1 {
    position: absolute;
    bottom: 3%;
    left: 20%;
    color: #45413e;
  }
  .slideshow-media-products .mySlides1 .img .buttons1 .Price-button {
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.102);
    padding: 6px;
    border-radius: 25px 0px 0px 25px;
  }
  .slideshow-media-products .mySlides1 .img .buttons1 .Price-button a {
    text-decoration: none;
    color: #1cc167;
  }
  .slideshow-media-products .mySlides1 .img .buttons1 .BuyNow-button {
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.102);
    padding: 6px;
    border-radius: 0px 25px 25px 0px;
    margin-left: -2.5%;
  }
  .slideshow-media-products .mySlides1 .img .buttons1 .BuyNow-button:hover {
    background-color: #84bc22;
    color: white;
  }
  .slideshow-media-products .mySlides1 .img .image__overlay-gradient {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 99.5%;
    border-radius: 5px;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    transition: opacity 0.25s;
    background-image: linear-gradient(to bottom, #dc5987, #675b99);
  }
  .slideshow-media-products .mySlides1 .chat {
    position: absolute;
    width: 50%;
    bottom: 10%;
    left: 20%;
  }
  .slideshow-media-products .mySlides1 .chat i {
    color: #84bc22;
  }
  .slideshow-media-products .prev1, .slideshow-media-products .next1 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 6px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .slideshow-media-products .next1 {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .slideshow-media-products .prev1:hover, .slideshow-media-products .next1:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .slideshow-media-products .all-dots1 {
    text-align: center;
  }
  .slideshow-media-products .dot1 {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0% 1%;
    background-color: white;
    border: 4px solid transparent;
    opacity: 0.502;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .slideshow-media-products .active, .slideshow-media-products .dot1:hover {
    border: 4px solid white;
    background-color: transparent;
    opacity: 1;
  }

  .banner h1 {
    font-size: 24px;
    top: 15%;
  }
  .banner h2 {
    font-size: 10px;
    top: 60%;
  }

  .featured-products {
    display: none;
  }

  .benefits-content .benefits-content-content {
    display: block;
  }
  .benefits-content .benefits-content-content .left-content, .benefits-content .benefits-content-content .right-content {
    justify-content: space-between;
    width: 100%;
    margin-left: 0;
  }
  .benefits-content .benefits-content-content .center-content {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 0;
  }
  .benefits-content .benefits-content-content .text-content {
    margin-right: 21px;
    width: 30%;
  }

  .main-footer {
    display: none;
  }

  /*-----------------------------FOOTER STYLING FOR MEDIA-------------------*/
  .footer2-media {
    width: 100%;
    height: 400px;
    display: block;
    bottom: 5%;
    left: 0;
    padding: 20px 0px 20px 0px;
    background-color: white;
    font-family: "Lato", sans-serif;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: -1;
    font-size: 18px;
  }

  .main-footer-column {
    padding: 4%;
  }

  .contact-down {
    margin-left: 50px;
    font-size: 15px;
    font-weight: 100;
    color: #45413e;
    display: none;
  }
  .contact-down a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding-bottom: 12px;
  }

  #toggle-seventh,
#toggle-eight,
#toggle-neinth {
    display: none;
  }

  #toggle-seventh:checked + .contact-down,
#toggle-eight:checked + .contact2-down,
#toggle-neinth:checked + .contact3-down {
    display: block;
  }

  .contact2-down a,
.contact3-down a {
    text-decoration: none;
    color: #45413e;
    margin: 0;
    line-height: 1.2;
    display: block;
    text-align: left;
    margin-left: 50px;
    font-size: 15px;
  }

  .contact2-down,
.contact3-down {
    display: none;
  }

  .social-media {
    position: relative;
    top: 0;
  }
  .social-media a {
    padding-left: 15%;
    width: 100%;
    color: rgba(69, 65, 62, 0.502);
  }

  .CategoryLandingPagetitle {
    margin-top: 34%;
  }
  .CategoryLandingPagetitle p {
    font-size: 12px;
  }
  .CategoryLandingPagetitle h2 {
    font-size: 35px;
  }

  .Filters .filters-row {
    width: 100%;
    margin-left: 0;
  }
  .Filters .filters-column {
    margin-bottom: 4%;
    width: 100%;
  }
  .Filters .filters-column select {
    width: 80%;
    float: right;
  }
  .Filters .filters-column .color-dot {
    margin-left: 4%;
  }

  .CLP-products .title-products {
    display: flex;
    flex-direction: row;
  }
  .CLP-products .title-products .new-title {
    font-size: 20px;
  }
  .CLP-products .slideshow-media-products {
    display: block;
  }
  .CLP-products .slideshow-media-products .slideshow-container2 {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  .CLP-products .slideshow-media-products .mySlides2 {
    display: none;
    margin: auto;
  }
  .CLP-products .slideshow-media-products .mySlides2 .img {
    position: relative;
    text-align: center;
    width: 80%;
    margin: auto;
  }
  .CLP-products .slideshow-media-products .mySlides2 .img img {
    width: 100%;
  }
  .CLP-products .slideshow-media-products .mySlides2 .img .product-title {
    position: absolute;
    bottom: 15%;
    color: #45413e;
    left: 2%;
    font-size: 17px;
    font-weight: 400;
  }
  .CLP-products .slideshow-media-products .mySlides2 .img .title-center {
    left: 25%;
  }
  .CLP-products .slideshow-media-products .mySlides2 .img .price {
    position: absolute;
    bottom: 3%;
    left: 40%;
    color: #45413e;
    font-size: 15px;
  }
  .CLP-products .slideshow-media-products .all-dots2 {
    text-align: center;
    margin: 4% 0;
  }
  .CLP-products .slideshow-media-products .dot2 {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 1%;
    background-color: #8b8b8e;
    border: 4px solid transparent;
    border-radius: 50%;
    display: inline-block;
  }
  .CLP-products .slideshow-media-products .active, .CLP-products .slideshow-media-products .dot2:hover {
    border: 4px solid black;
    background-color: transparent;
    opacity: 1;
  }
  .CLP-products .CLP-products-row {
    width: 100%;
  }
  .CLP-products .CLP-products-row .CLP-products-column {
    width: 100%;
    margin-bottom: 4%;
    margin-left: 4%;
  }
  .CLP-products .CLP-products-row .CLP-products-column .img img {
    width: 100%;
  }
  .CLP-products .CLP-products-row .CLP-products-column .img .product-title {
    font-size: 15px;
    left: 17%;
  }
  .CLP-products .CLP-products-row .CLP-products-column .img .title-center {
    left: 27%;
  }
  .CLP-products .CLP-products-row .CLP-products-column .img .price {
    font-size: 18px;
  }

  .page404-content {
    display: block;
  }
  .page404-content .content-left {
    margin: 0;
  }
  .page404-content .content-left svg {
    width: 100%;
  }
  .page404-content .content-left h2 {
    font-size: 100px;
    top: 15%;
    left: 10%;
  }
  .page404-content .content-right {
    width: 100%;
    padding-bottom: 5%;
    margin-top: -25%;
  }
  .page404-content .content-right h1 {
    font-size: 29px;
  }
  .page404-content .content-right button {
    padding: 1% 70% 1% 2%;
  }
  .page404-content .content-right button i {
    right: 3%;
    bottom: 5px;
    font-size: 16px;
  }

  .PDP-content .PDP-product-details {
    display: block;
    padding: 0;
  }
  .PDP-content .PDP-product-details .content-left {
    width: 100%;
    display: inline;
  }
  .PDP-content .PDP-product-details .content-left .smallpic-row {
    display: inline;
  }
  .PDP-content .PDP-product-details .content-left .smallpic-row .smallpic-column {
    width: 10%;
    margin: 20px;
  }
  .PDP-content .PDP-product-details .content-left .modal-content01 {
    width: 90%;
    margin: auto;
  }
  .PDP-content .PDP-product-details .content-right {
    width: 100%;
    margin-top: 20%;
    margin-left: 20px;
  }
  .PDP-content .PDP-product-details .content-right .price {
    font-size: 30px;
  }
  .PDP-content .PDP-product-details .content-right .add-to-cart-and-quantity {
    display: block;
  }
  .PDP-content .PDP-product-details .content-right .add-to-cart-and-quantity #field1 {
    width: 28%;
    margin-bottom: 3%;
  }
  .PDP-content .PDP-product-details .content-right .product-detail {
    width: 90%;
    font-size: 15px;
  }
  .PDP-content .PDP-product-details .content-right .share {
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
  }
  .PDP-content .content-bottom {
    display: none;
  }

  .PDP-row {
    display: none;
  }

  .products-box .products .product-row .product img {
    width: 50px;
  }
  .products-box .products .product-row .product .product-name {
    font-size: 4px;
  }
  .products-box .products .product-row .quantity {
    padding: 0.5%;
  }
  .products-box .products .product-row .quantity span {
    padding: 5px;
    font-size: 10px;
  }
  .products-box .products .product-row .quantity button {
    font-size: 12px;
  }
  .products-box .products .product-row .total {
    font-size: 12px;
  }
  .products-box .products .product-row .close-btn i {
    font-size: 8px;
  }
  .products-box .buttons-content .content-left {
    display: block;
  }
  .products-box .buttons-content .content-left button {
    padding: 10px 20px;
    font-size: 10px;
  }
  .products-box .buttons-content .content-left .content-left-left {
    width: 100%;
  }
  .products-box .buttons-content .content-left .content-left-left .cupon {
    width: 50%;
    font-size: 12px;
  }
  .products-box .buttons-content .content-bottom .cartsubtotal .left {
    width: 80%;
  }
  .products-box .buttons-content .content-bottom .cartsubtotal .right {
    width: 79%;
  }
  .products-box .buttons-content .content-bottom .shipping .left {
    width: 40%;
  }
  .products-box .buttons-content .content-bottom .shipping .right {
    font-size: 15px;
  }
  .products-box .buttons-content .content-bottom .order-total .right {
    font-size: 20px;
  }
}
@media print {
  body * {
    visibility: hidden;
  }

  .PDP-product-details, .PDP-product-details * {
    visibility: visible;
  }

  .PDP-product-details {
    position: absolute;
    left: 0;
    top: 0;
  }
}

/*# sourceMappingURL=media-query.css.map */
