/* for tablets */
@media only screen and (max-width: 1138px) and (min-width: 767px) {
  .header a {
    font-size: 10px;
  }
  .header a .logo {
    font-size: 15px;
  }
  .header a.logo img {
    width: 20%;
  }
  .header a.logo h1 {
    font-size: 20px;
    top: -1%;
  }

  .Academy {
    font-size: 12px;
  }

  .header-right a {
    margin-left: -10px;
  }

  .header-center {
    margin-right: 10px;
  }

  .modal-content {
    width: 50%;
  }
}
/* for phones */
@media only screen and (max-width: 767px) and (min-width: 280px) {
  .header {
    justify-content: center;
    /*a.logo img{
      width: 40%;
      display: grid;
      margin: -10% auto;
    }*/
  }
  .header .header-left {
    display: none;
  }
  .header a.logo h1 {
    display: none;
  }

  .header-right a {
    displaY: none;
  }

  .header-center {
    display: none;
  }

  .media-dropdown {
    display: block;
    text-align: left;
    line-height: 70px;
    width: 100%;
  }
  .media-dropdown label {
    width: 50px;
    font-size: 50px;
    color: #45413e;
    margin: 0 35% 0 0;
    line-height: 70px;
    cursor: pointer;
  }
  .media-dropdown .PictureWoman {
    width: 70%;
    border-radius: 5%;
  }
  .media-dropdown .logo-query {
    width: 15%;
  }

  .menu-media {
    width: 100%;
    height: 550px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    margin: 0 30px 0 0;
    text-align: center;
    display: none;
    border: 1px solid black;
    background-color: #262a32;
  }
  .menu-media label {
    font-size: 15px;
    margin: 0;
  }
  .menu-media input {
    display: inline;
    position: absolute;
    left: 100px;
    top: 120px;
  }
  .menu-media p {
    text-decoration: none;
    color: white;
    margin: 0;
    line-height: 70px;
    display: block;
    font-family: "Lato", sans-serif;
    text-align: left;
    margin-left: 30px;
    cursor: pointer;
  }
  .menu-media p:hover {
    border-bottom: 5px solid #84bc22;
  }

  .sub-menu-media {
    display: none;
    margin-left: 10px;
  }
  .sub-menu-media label {
    font-size: 15px;
  }
  .sub-menu-media span {
    font-size: 15px;
  }
  .sub-menu-media a {
    text-decoration: none;
    color: white;
    margin: 0;
    line-height: 50px;
    display: block;
    font-family: "Lato", sans-serif;
    text-align: left;
    font-size: 15px;
  }

  .sub-menu2-media {
    margin-left: 50px;
    display: none;
  }

  .sub-menu3-media {
    display: none;
    margin-left: 50px;
  }

  #toggle-second:checked + .sub-menu-media {
    display: block;
  }

  #toggle-third:checked + .sub-menu2-media {
    display: block;
  }

  #toggle-fourth:checked + .sub-menu3-media {
    display: block;
  }

  #toggle-fifth:checked + .sub-menu4-media {
    display: block;
  }

  #toggle-sixth:checked + .sub-menu5-media {
    display: block;
  }

  .sub-menu4-media {
    display: none;
  }

  .sub-menu4-media {
    margin-left: 20px;
  }
  .sub-menu4-media label {
    font-size: 15px;
  }
  .sub-menu4-media span {
    font-size: 15px;
  }
  .sub-menu4-media a {
    text-decoration: none;
    color: white;
    margin: 0;
    line-height: 50px;
    display: block;
    font-family: "Lato", sans-serif;
    text-align: left;
    font-size: 15px;
  }

  .sub-menu5-media {
    display: none;
    margin-left: 10px;
  }
  .sub-menu5-media label {
    font-size: 15px;
  }
  .sub-menu5-media span {
    font-size: 15px;
  }
  .sub-menu5-media a {
    text-decoration: none;
    color: white;
    margin: 0;
    line-height: 50px;
    display: block;
    font-family: "Lato", sans-serif;
    text-align: left;
    font-size: 15px;
  }

  #toggle,
#toggle-second,
#toggle-third,
#toggle-fourth,
#toggle-fifth,
#toggle-sixth {
    display: none;
  }

  #toggle:checked + .menu-media {
    display: block;
  }

  .mobile-footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #262a32;
    color: white;
    text-align: center;
    padding: 20px 0px 20px 20px;
  }
  .mobile-footer a {
    font-size: 30px;
    text-decoration: none;
    color: #e8e2d6;
    margin-right: 15%;
  }

  /*----------------------Styling the modal-------*/
  .modal-content {
    width: 70%;
    height: 60%;
  }

  .imgcontainer h1 {
    font-size: 27px;
  }

  .close {
    font-size: 20px;
  }

  button {
    font-size: 12px;
    padding: 14px 50px;
  }

  .idonthave {
    font-size: 15px;
  }

  /*-------------------------END LOG IN MODAL FOR MEDIA--------------*/
  .main-footer {
    display: none;
  }

  /*-----------------------------FOOTER STYLING FOR MEDIA-------------------*/
  .footer2-media {
    width: 100%;
    height: 300px;
    display: block;
    position: fixed;
    bottom: 5%;
    left: 0;
    padding: 20px 0px 20px 20px;
    background-color: white;
    font-family: "Lato", sans-serif;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: -1;
    font-size: 18px;
  }

  .contact-down {
    margin-left: 50px;
    font-size: 15px;
    font-weight: 100;
    color: #45413e;
    display: none;
  }
  .contact-down a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding-bottom: 12px;
  }

  #toggle-seventh,
#toggle-eight,
#toggle-neinth {
    display: none;
  }

  #toggle-seventh:checked + .contact-down,
#toggle-eight:checked + .contact2-down,
#toggle-neinth:checked + .contact3-down {
    display: block;
  }

  .contact2-down a,
.contact3-down a {
    text-decoration: none;
    color: #45413e;
    margin: 0;
    line-height: 1.2;
    display: block;
    text-align: left;
    margin-left: 50px;
    font-size: 15px;
  }

  .contact2-down,
.contact3-down {
    display: none;
  }

  .social-media {
    position: relative;
    top: 0;
  }
  .social-media a {
    padding-left: 15%;
    width: 100%;
    color: rgba(69, 65, 62, 0.502);
  }
}

/*# sourceMappingURL=media-query.css.map */
