/*--------------------------Values saved----------------*/
$black:black;
$white:white;
$font:'Lato', sans-serif;;
$dark-blue:rgb(1, 24, 71);
$green:rgb(132, 188, 34);
$darker-blue:#262a32;
$light-grey:rgba(69, 65, 62, 0.502);
$lighter-gray:rgb(232, 226, 214);
$icons-color:rgb(69, 65, 62);
$border-color:rgb(215, 215, 215);
$color-footer-titles:rgb(51, 51, 51);
$facebook-color:rgb(58, 91, 150);
$gradient-color-primary:rgb(28,193,103);
$gradient-color-secondary:rgb(46,211,162);
$plus-color-button:rgb(35, 196, 110);
$heart-color-button:rgb(231, 60, 104);
$text-color:#777471;
$CLP-background-color:#f2edea;
$green-for-text:rgb(133, 196, 65);
$turqoise:#43c0cf;
$blue:#315bbd;
$orange:#ec6115;
$red:#dc041d;
$nude:#efead7;
$price-color:rgb(189, 195, 199);
$blackish:rgba(0,0,0,0.741);
$border-color: rgb(0, 0, 0,0.102);
$dot-media-color:#8b8b8e;

@media only screen and (max-width: 1264px) and (min-width: 1138px){
  //------------------Home Page-------------
  .slideshow-container{
    .text-left{
      font-size: 30px;
    }
    .minitext-left{
      font-size:12px;
    }
    .viewmorebtn{
      padding: 5px 30px;
      bottom: 10%;
    }
    .text-center {
      left: 25%;
    }
    .minitext-center{
      left:30%;
    }
    .center{
      left:40%;
    }
    .text-right{
      font-size:30px;
    }
    .minitext-right{
      font-size:12px;
    }
    .viewmorebtn-right{
      padding: 5px 30px;
      bottom: 10%;
    }
  }
  .alldots{
    .dot{
      height: 5px;
      width: 5px;
      border:2px solid transparent;
    }
    .active, .dot:hover {
      border:2px solid $white;
    }
  }
  .popular-items-section {
    .products-row{
      width: 100%;
      .popular-items-title{
        font-size: 18px;
      }
      .popular-items-title:before,.popular-items-title:after{
        margin-left: 21px;
        margin-right: 21px;
      }
    .products-column {
        width: 25%;
        margin-bottom:4%;
        .img{
          
          img{
            width:100%;
          }
          .product-title{
            font-size:10px;
          }
          .price{
            font-size:10px;
          }
          .buttons1{
            left:10%;
            .Price-button{
              a{
                font-size:15px;
              }
            }
            .BuyNow-button{
              font-size:15px;
            }
          }
          .image__overlay-gradient{
            width: 100%;
          }
        }
      }
    }
    }
    .banner{
      h1 {
      font-size: 50px;
      top: 30%;
      }
      h2{
        font-size:20px;
      }
    }
    .featured-products{
      .gallery-cell{
        .img-carousel{
          h3{
            bottom: 20%;
            left: 20%;
            font-size: 12px;
          }
          p{
            left:35%;
          }
        }
      }
    }
    //------------------Category Landing Page----------------//
    .CLP-products {
      .CLP-products-row{
        width: 100%;
      .CLP-products-column {
          width: 25%;
          margin-bottom:4%;
          .img{
            
            img{
              width:100%;
            }
            .product-title{
              font-size:10px;
            }
            .price{
              font-size:10px;
            }
          }
        }
      }
    }
      //PDP 
  .PDP-content{
    .content-bottom{
      .tab{
        button{
          font-size:19px;
        }
      }
    }
  }
  //Cart Page
  .products-box{
    .buttons-content{
      .content-left{
        button{
          padding:10px 30px;
          font-size:15px;
        }
      }
    }
  }
}
/* for tablets */
@media only screen and (max-width: 1138px) and (min-width: 768px){
  //------------------Home Page-------------
  .header {
      a{
        font-size:10px;

        .logo{
          font-size:15px;
        }
      }
      a.logo img{
        width:20%;
      }
      a.logo h1{
        font-size:20px;
        top:-1%;
      }
    }
    .Academy{
      font-size:12px;
    }
    .header-right a{
      margin-left:-10px;
      .ellipse{
        border: 1px solid $green;
        font-size:8px;
        padding:2px;
      }
    }
    .header-center  {
      margin-right:10px;
    }
    .modal-content{
      width: 50%;
    }
  .homepage{
    margin: 2%;
    margin-top:15%;
    margin-left:2%;
      .right-content{
          .btn55{
            h1{
              font-size:50px;
            }
          }
          .socialmedia-text{
            button{
              padding: 5px 15px;
              font-size: 15px;
            }
          }
        }
    }
    .slideshow-container{
      .text-left{
        font-size: 30px;
      }
      .minitext-left{
        font-size:12px;
      }
      .viewmorebtn{
        padding: 5px 30px;
        bottom: 10%;
      }
      .text-center {
        left: 15%;
      }
      .minitext-center{
        left:20%;
      }
      .center{
        left:35%;
      }
      .text-right{
        font-size:30px;
      }
      .minitext-right{
        font-size:12px;
      }
      .viewmorebtn-right{
        padding: 5px 30px;
        bottom: 10%;
      }
    }
    .alldots{
      .dot{
        height: 5px;
        width: 5px;
        border:2px solid transparent;
      }
      .active, .dot:hover {
        border:2px solid $white;
      }
    }
    .popular-items-section {
      .products-column {
        width: 25%;
        margin-bottom: 4%;
          .img{
            width: 72%;
            img{
              width: 100%;
            }
            .product-title{
              font-size: 10px;
              bottom: 14%;
            }
            .price{
              font-size: 10px;
            }
            .buttons1{
              left: 15%;
              .Price-button{
                padding: 2px;
                font-size: 12px;
              }
              .BuyNow-button{
                padding:2px;
                font-size: 12px;
              }
            }
            .title-center{
              left: 17%;
            }
          }
        }
      }
      .banner{
        h1 {
        font-size: 40px;
        top: 10%;
        }
        h2{
          font-size: 15px;
        }
      }
      .featured-products{
        .gallery-cell{
          .img-carousel{
            h3{
              bottom: 20%;
              left: 10%;
              font-size: 12px;
            }
            p{
              left:30%;
            }
          }
        }
      }
      .benefits-content{
    
        .benefits-content-content{
    
          i{
            font-size:70px;
          }
          .text-content{
            margin-right: 21px;
            h2{
              font-size:18px;
            }
            p{
              font-size:10px;
            }
          }
        }
      }
      //------------------------------Cateogry Landing Page--------------//
      .Filters{
        .filters-row{
          width:100%;
        }
        .filters-column{
          width: 33%;
          select{
            width:90%;
          }
        }
      }
      .CLP-products {
        .CLP-products-row{
          width: 100%;
        .CLP-products-column {
            width: 25%;
            margin-bottom:4%;
            .img{
              
              img{
                width:100%;
              }
              .product-title{
                font-size: 10px;
                width: 98%;
                left: 2%;
              }
              .price{
                font-size: 10px;
                left: 37%;
              }
            }
          }
        }
      }
      //------------------------------404 Page--------------//
      .page404-content{
        .content-left{
          width:50%;

          h2{
            font-size:100px;
            top:15%;
          }
        }
        .content-right{
          margin-left: 10%;

          button{
            padding: 1% 70% 1% 2%
          }
        }
      }
          //PDP 
  .PDP-content{
    .PDP-product-details{
      .content-left{
        .smallpic-row{
          width:17%;
        }
      }
    }
    .content-bottom{
      .tab{
        button{
          font-size:10px;
        }
      }
      .tabcontent{
        columns:1;
        .column2-tab{
          padding:0;
        }
      }
    }
  }
  //Cart Page
  .products-box{
    .products{
      .product-row{
        .product{
          img{
            width:100px;
          }
          .product-name{
            font-size: 12px;
          }
        }
        .quantity{
          button{
            font-size:12px;
          }
        }
        .total{
          font-size:20px;
        }
      }
    }
    .buttons-content{
      .content-left{
        button{
          padding:10px 20px;
          font-size:10px;
        }
        .content-left-left{
          .cupon{
            width:50%;
            font-size:12px;
          }
        }
        .content-right-right{
          margin-top:2%;
        }
      }
      .content-bottom{
        .order-total{
          .right{
            font-size:30px;
          }
        }
      }
    }
  }
}

/* for phones */
@media only screen and (max-width: 767px) and (min-width: 280px){
  //------------------Home Page-------------
  .header {
    justify-content: center;
    
    .header-left{
      display: none;
    }
    /*a.logo img{
      width: 40%;
      display: grid;
      margin: -10% auto;
    }*/
    a.logo h1{
      display:none;
    }
  }
  .header-right{
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    background-color:$darker-blue;
    color:$white;
    text-align: center;
    padding:20px 0px 20px 20px;
    opacity:1;
    a{
      font-size:30px;
      text-decoration: none;
      color:$lighter-gray;
      margin-right: 5%;
      margin-left: 5%;
      opacity:1;
    }
    .ellipse {
      border:2px solid $green;
      border-radius: 50%;
      position: absolute;
      color:$green;
      font-size:14px;
      padding:2px 4px;
      top:-10px;
      right:-10px;
      background-color: $darker-blue;
      font-weight:400;
      text-align: center;
    }
  }
  .header-center  {
    display:none;
  }
  .media-dropdown{
    display: block;
    text-align:left;
    line-height: 70px;
    width: 100%;
    margin-left:2%;
    
    label{
      width:50px;
        font-size:50px;
        color:$icons-color;
        margin:0 35% 0 0;
        line-height:70px;
        cursor: pointer;
    }

    .PictureWoman{
      width:70%;
      border-radius:5%;
    }
    
    .logo-query{
      width:15%;
    }
  }
  .menu-media{
    width:100%;
    height:550px;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
    margin:0 30px 0 0;
    text-align: center;
    display: none;
    border:1px solid $black;
    background-color:$darker-blue;

    label{
        font-size:15px;
        margin:0;
    }
    input{
        display: inline;
        position: absolute;
        left:100px;
        top:120px;
    }
    p{
      text-decoration: none;
      color: $white;
      margin:0;
      line-height: 70px;
      display:block;
      font-family: $font;
      text-align:left;
      margin-left:30px;
      cursor:pointer;
    }
    p:hover{
      border-bottom: 5px solid $green;
    }
  }
  .sub-menu-media{
    display: none;
    margin-left:10px;
    label{
      font-size:15px;
    }
    span{
      font-size:15px;
    }
    a{
      text-decoration: none;
      color:$white;
      margin:0;
      line-height: 50px;
      display:block;
      font-family: $font;
      text-align:left;
      font-size:15px;
    }
  }
  .sub-menu2-media{
    margin-left:50px;
    display:none;
  }
  .sub-menu3-media{
    display: none;
    margin-left:50px;
  }
  #toggle-second:checked
  +.sub-menu-media{
    display:block;
  }
  #toggle-third:checked
  +.sub-menu2-media{
    display:block;
  }
  #toggle-fourth:checked+.sub-menu3-media{
    display: block;
  }
  #toggle-fifth:checked+.sub-menu4-media{
    display: block;
  }
  #toggle-sixth:checked+.sub-menu5-media{
    display: block;
  }
   .sub-menu4-media{
    display: none;
  }
  .sub-menu4-media {
    margin-left:20px;
      label{
          font-size:15px;
      }
    span{
      font-size:15px;
    }
    a{
      text-decoration: none;
      color:$white;
      margin:0;
      line-height: 50px;
      display:block;
      font-family: $font;
      text-align:left;
      font-size:15px;
    }
  }
   .sub-menu5-media{
    display: none;
    margin-left:10px;
      label{
        font-size:15px;
      }
      span{
        font-size:15px;
      }
      a{
        text-decoration: none;
        color: $white;
        margin:0;
        line-height: 50px;
        display:block;
        font-family: $font;
        text-align:left;
        font-size:15px;
      }
  }
  #toggle,
  #toggle-second,
  #toggle-third,
  #toggle-fourth,
  #toggle-fifth,
  #toggle-sixth{
    display: none;
  }
  #toggle:checked+.menu-media{
    display: block;
  }
  /*----------------------Styling the modal-------*/
  .modal-content{
    width: 100%;
    height:60%;
  }
  .imgcontainer{
    h1{
      font-size:27px;
    }
  }
  .close{
    font-size:20px;
  }
  .loginbtn{
    font-size:12px;
    padding:14px 50px;
  }
  .idonthave{
    font-size:15px;
  }
  /*-------------------------END LOG IN MODAL FOR MEDIA--------------*/
  .mobile-footer{
    display:none;
  }
  //--------------homepage styling------
  .homepage{
    margin-top:30%;
    display: block;
    width: 90%;
    

    .right-content{
      display:none;
    }
    .left-content{
      width:100%;
      height:100%;
    }
  }
  .slideshow-container{
    .text-left{
      font-size: 40px;
    }
    .minitext-left{
      font-size:20px;
    }
    .viewmorebtn{
      padding: 10px 30px;
      bottom: 15%;
    }
    .text-center {
      left: 10%;
    }
    .minitext-center{
      left:10%;
    }
    .center{
      left: 30%;
    }
    .text-right{
      font-size:40px;
    }
    .minitext-right{
      font-size:20px;
    }
    .viewmorebtn-right{
      padding: 10px 30px;
      bottom: 15%;
    }
   .mySlides{
     img{
       width:100%;
       height: 500px;
     }
    } 
  }
  .popular-items-section{
    .products-row{
      display:none;
    }
    .products-column{
      display:none;
    }
  }
  .loadbtn-section{
    .load-btn{
      display:none;
    }
  }
  .slideshow-media-products{
    display:block;
    .slideshow-container1 {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }

/* Hide the images by default */
  .mySlides1 {
    display: none;
    margin:auto;

      .img{
        position: relative;
        text-align:center;
        width:80%;
        margin:auto;

        img{
          width:100%;
        }

        .product-title{
          position:absolute;
          bottom:15%;
          left:7%;
          color:$icons-color;
          font-size:15px;
          font-weight:400;
        }
        .title-center{
          left:25%;
        }
        .price{
          position:absolute;
          bottom:3%;
          left:38%;
          color:$icons-color;
          font-size:15px;
        }
        .image__overlay {
          position: absolute;
          top: 0%;
          left: 0%;
          width: 100%;
          height: 99.5%;
          border-radius: 5px;
          background: $black;
          color: $white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          opacity: 0;
          transition: opacity 0.25s;
        }
  
        .image__overlay--primary {
          background-image: -webkit-linear-gradient( 90deg, $gradient-color-primary 0%, $gradient-color-secondary 100%);
        }
  
        .image__overlay > * {
          transform: translateY(20px);
          transition: transform 0.25s;
        }
  
        .image__overlay:hover {
          opacity: 0.902;
        }
  
        .image__overlay:hover > * {
          transform: translateY(0);
        }
        .buttons{
          width:100%;
          display: flex;
          justify-content: space-evenly;

          button{
            margin-left:4%;
            border-radius:50%;
            border:2px solid transparent;
            padding:8% 11%;
            font-size:40px;
          }
          .Plus-button{
            color:$plus-color-button;
          }
          .Heart-button{
            color:$heart-color-button;
          }  
        }
        .buttons1{
          position: absolute;
          bottom:3%;
          left:20%;
          color:$icons-color;

        .Price-button{
          background-color: transparent;
          border:2px solid $border-color;
          padding:6px;
          border-radius:25px 0px 0px 25px;
          a{
            text-decoration: none;
            color:$gradient-color-primary;
          }
        }

        .BuyNow-button{
          background-color: transparent;
          border:2px solid $border-color;
          padding:6px;
          border-radius:0px 25px 25px 0px;
          margin-left:-2.5%;
        }
        .BuyNow-button:hover{
          background-color: $green;
          color:$white;
        }
       
    }
      .image__overlay-gradient{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 99.5%;
        border-radius: 5px;
        background: $black;
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity:0.8;  
        transition: opacity 0.25s;
        background-image:linear-gradient(to bottom, rgb(220,89,135), rgb(103,91,153))
      }
    }
    .chat{
      position: absolute;
      width:50%;
      bottom:10%;
      left:20%;
      i{
        color:$green;
      }
    }
    
  }

  /* Next & previous buttons */
  .prev1, .next1 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 6px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

/* Position the "next button" to the right */
  .next1 {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

/* On hover, add a black background color with a little bit see-through */
  .prev1:hover, .next1:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .all-dots1{
    text-align:center;
  }
  .dot1 {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0% 1%;
    background-color: $white;
    border:4px solid transparent;
    opacity:0.502;
    border-radius: 50%;
    display:inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot1:hover {
    border:4px solid $white;
    background-color: transparent;
    opacity:1;
  }
    
  }
  .banner{
    h1 {
    font-size: 24px;
    top: 15%;
    }
    h2{
      font-size: 10px;
      top:60%;
    }
  }
  .featured-products{
    display: none;
  }
  .benefits-content{
    .benefits-content-content{
      display:block;
      .left-content,.right-content{
        justify-content: space-between;
        width:100%;
        margin-left:0;
      }
      .center-content{
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-left:0;
      }
      .text-content{
        margin-right: 21px;
        width:30%;
      }
    }
  }
  .main-footer{
    display:none;
  }
  /*-----------------------------FOOTER STYLING FOR MEDIA-------------------*/
  .footer2-media{
    width:100%;
    height: 400px;
    display: block;
    bottom:5%;
    left:0;
    padding: 20px 0px 20px 0px;
    background-color:$white;
    font-family:$font;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
    z-index:-1;
    font-size:18px;
  }
  .main-footer-column{
    padding:4%;
  }
  .contact-down{
    margin-left:50px;
    font-size:15px;
    font-weight:100;
    color:$icons-color;
    display: none;
      a{
        text-decoration: none;
        color:inherit;
        display:block;
        padding-bottom:12px;
      }
  }
  #toggle-seventh,
  #toggle-eight,
  #toggle-neinth{
    display:none;
  }
  #toggle-seventh:checked+.contact-down,
  #toggle-eight:checked+.contact2-down,
  #toggle-neinth:checked+.contact3-down{
    display:block;
  }
  .contact2-down,
  .contact3-down{
    a{
      text-decoration: none;
      color:$icons-color;
      margin:0;
      line-height: 1.2;
      display:block;
      text-align:left;
      margin-left:50px;
      font-size:15px; 
    } 
  }
  .contact2-down,
  .contact3-down{
    display:none;
  }
  .social-media{
    position: relative;
    top:0;
    a{
      padding-left:15%;
      width:100%;
      color:$light-grey;
    }
  }
  //Category Landing Page
  .CategoryLandingPagetitle{
    margin-top: 34%;
    p{
      font-size:12px;
    }
    h2{
      font-size: 35px;
    }
  }
  .Filters{
    .filters-row{
      width:100%;
      margin-left:0;
    }
    .filters-column{
      margin-bottom:4%;
      width:100%;
      
      select{
        width:80%;
        float:right;
      }
      .color-dot{
        margin-left:4%;
      }
    }
  }
  .CLP-products {
    .title-products{
      display: flex; 
      flex-direction: row;
      
      .new-title{
      font-size:20px;
      }
    }
    

    .slideshow-media-products{
      display:block;

      .slideshow-container2 {
        max-width: 1000px;
        position: relative;
        margin: auto;
      }
  
      .mySlides2 {
        display:none;
        margin:auto;
  
        .img{
          position: relative;
          text-align:center;
          width:80%;
          margin:auto;
  
          img{
            width:100%;
          }
  
          .product-title{
            position:absolute;
            bottom:15%;
            color:$icons-color;
            left: 2%;
            font-size: 17px;
            font-weight: 400;
          }
          .title-center{
            left:25%;
          }
          .price{
            position:absolute;
            bottom:3%;
            left: 40%;
            color:$icons-color;
            font-size:15px;
          }
        }  
      }
      .all-dots2{
        text-align:center;
        margin: 4% 0;
      }
      .dot2 {
        cursor: pointer;
        height: 10px;
        width: 10px;
        margin: 1%;
        background-color: $dot-media-color;
        border:4px solid transparent;
        border-radius: 50%;
        display:inline-block;
      }
  
      .active, .dot2:hover {
        border:4px solid $black;
        background-color: transparent;
        opacity:1;
      }
    }
    .CLP-products-row{
      width: 100%;
    .CLP-products-column {
        width: 100%;
        margin-bottom:4%;
        margin-left:4%;
        .img{
          
          img{
            width:100%;
          }
          .product-title{
            font-size: 15px;
            left: 17%;
          }
          .title-center{
            left:27%;
          }
          .price{
            font-size:18px;
          }
        }
      }
    }
  }
  //404 PAge
  .page404-content{
    display:block;

    .content-left{
      margin:0;
      svg{
        width: 100%;
      }
      h2{
        font-size:100px;
        top:15%;
        left:10%;
      }
    }
    .content-right{
      width:100%;
      padding-bottom:5%;
      margin-top:-25%;
      h1{
        font-size: 29px;
      }
      button{
        padding: 1% 70% 1% 2%;
        i{
          right: 3%;
          bottom: 5px;
          font-size: 16px;
        }
      }
    }
  }
  //PDP 
  .PDP-content{
    .PDP-product-details{
      display:block;
      padding:0;
      
      .content-left{
        width:100%;
        display:inline;

        .smallpic-row{
          display:inline;
    
          .smallpic-column{
            width:10%;
            margin:20px;
          }
        }
        .modal-content01{
          width:90%;
          margin:auto;
        }
      }
      .content-right{
        width:100%;
        margin-top:20%;
        margin-left:20px;
        .price{
          font-size: 30px;
        }
        .add-to-cart-and-quantity{
          display:block;
          #field1{
            width: 28%;
            margin-bottom:3%;
          }
        }
        .product-detail{
          width:90%;
          font-size:15px;
        }
        .share{
          justify-content: center;
          width:100%;
          padding-bottom:10px;
        }
      }
    }
    .content-bottom{
      display:none;
    }
  }
  .PDP-row{
    display:none;
  }
  //Cart Page
  .products-box{
    .products{
      .product-row{
        .product{
          img{
            width:50px;
          }
          .product-name{
            font-size: 4px;
          }
        }
        .quantity{
          padding:0.5%;
          span{
            padding:5px;
            font-size:10px;
          }
          button{
            font-size:12px;
          }
        }
        .total{
          font-size: 12px;
        }
        .close-btn {
          i{
            font-size:8px;
          }
        }
      }
    }
    .buttons-content{
      .content-left{
        display:block;
        button{
          padding:10px 20px;
          font-size:10px;
        }
        .content-left-left{
          width:100%;
         
          .cupon{
            width:50%;
            font-size:12px;
          }
        }
      
      }
      .content-bottom{
        .cartsubtotal{
          .left{
            width: 80%;
          }
          .right{
            width:79%;
          }
        }
        .shipping{
          .left{
            width: 40%;
          }
          .right{
            font-size: 15px;
          }
        }
        .order-total{
          .right{
            font-size:20px;
          }
        }
      }
    }
  }

}
@media print {
  body * {
    visibility: hidden;
  }
  .PDP-product-details, .PDP-product-details * {
    visibility: visible;
  }
  .PDP-product-details {
    position: absolute;
    left: 0;
    top: 0;
  }
}