/*--------------------------Values saved----------------*/
/* use viewport-relative units to cover page fully */
body {
  font-family: "Lato", sans-serif;
}

/*--------------------- Style of the body---------------- */
/* ---------------------The header style -------------------*/
.header {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  padding: 10px 10px 10px 0px;
  background-color: white;
  border-bottom: 3px solid #e8e2d6;
  margin-left: -1%;
  z-index: 12;
  /*-------------------- Style the header-links --------------*/
}
.header a {
  color: black;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  /*-------------------------left header styling-------------------*/
}
.header a .logo {
  font-size: 25px;
}
.header a.logo img {
  width: 30%;
}
.header a.logo h1 {
  float: right;
  line-height: 1.2;
  font-size: 31.655px;
  color: #011847;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  left: 11%;
  top: -8%;
}

.Academy {
  font-size: 18px;
  color: #84bc22;
  position: absolute;
  font-weight: 700;
}

/*----------------Styling the header-center and header-right----*/
.header-center, .header-right {
  padding-top: 1.4%;
  font-weight: 700;
}

/*------------------------------Styling the dropdown content--------------------------*/
.dropdown, .dropdown2 {
  position: relative;
  display: inline-block;
}

/* --------------------Dropdown Content (Hidden by Default) -------------------*/
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #262a32;
  width: 97%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 2.15%;
  left: 50%;
  transform: translateX(-50%);
  /* ----------------------------Links inside the dropdown ---------------*/
}
.dropdown-content a {
  color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  display: block;
  margin-left: -12px;
}

/*------------------------------Columns for the mega menu--------------*/
.column {
  float: left;
  width: 15%;
  margin-left: 5%;
  margin-top: 2.5%;
  margin-bottom: 3%;
  /*-----------------------------Styling the Titles in the dropdown contect---*/
  /*------Styling the empty space to keep all the columns inside the dropdown at the same level--*/
  /*----------------------style the image in the dropdown content-----*/
}
.column h2 {
  color: white;
  font-size: 18px;
  font-weight: 900;
}
.column .downsize {
  font-size: 64px;
}
.column img {
  width: 140%;
  margin-top: 20%;
  margin-left: -60%;
  border-radius: 5%;
}

/* ----------------------Clear floats after the columns -----------------*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* --------------------Show the dropdown menu on hover------------------ */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* and for the rest of the buttons to be some hover over them */
.dropdown:hover .dropbtn,
.header-center .princ-button:hover {
  background-color: #262a32;
  color: white;
  border-bottom: 5px solid #84bc22;
  padding-bottom: 30px;
}

/*--A little distance for the dropdown arrow on Services---*/
.fa-sort-down {
  margin-left: 5px;
}

/*------------------------------------DROPDOWN2-----------------------------*/
#droptdownbtn2 {
  color: rgba(69, 65, 62, 0.502);
}

.dropdown-content2 {
  display: none;
  position: fixed;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  justify-content: flex-start;
  /* Links inside the dropdown */
}
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content2 a:hover {
  background-color: #e4e3e3;
}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content2 {
  display: block;
}

/*------------------Styling the header-right--------*/
.header-right a {
  font-size: 25px;
  margin-left: 20px;
  color: #45413e;
  opacity: 0.502;
  font-weight: 400;
}
.header-right .fa-heart:hover, .header-right .fa-shopping-bag:hover {
  color: #84bc22;
  opacity: 1;
}
.header-right #user-icon {
  width: auto;
}

/*--------------Modal form Log In----------*/
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.741);
  /* Black w/ opacity */
  z-index: 13;
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  width: 30%;
  /* Could be more or less, depending on screen size */
  border-radius: 6px;
  padding: 10px 0px;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
.imgcontainer h1 {
  color: #45413e;
  font-weight: 900;
  font-size: 40px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: -80%;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  opacity: 0.5;
  cursor: pointer;
}

.container {
  padding: 60px;
}

/* The fields of the email and lato */
input[type=email], input[type=password], input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #d7d7d7;
  box-sizing: border-box;
  border-radius: 25px;
  outline: none;
  font-weight: 400;
  margin-bottom: 40px;
  background-color: transparent;
  z-index: 1;
}

#password {
  position: relative;
}

/* the styling of the forgot password */
span.psw {
  float: right;
}
span.psw a {
  text-decoration: none;
  color: #84bc22;
  font-weight: 700;
}

.input-container {
  position: relative;
}
.input-container .fa-eye {
  float: right;
  opacity: 0.7;
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
}

/* Set a style for all buttons */
.loginbtn {
  background-color: #84bc22;
  color: white;
  padding: 14px 100px;
  margin: 8px 0;
  border-style: solid;
  border-width: 2px;
  border-color: #84bc22;
  cursor: pointer;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  /*we put the button in the center of the modal container */
  display: grid;
  margin: auto;
}

.loginbtn:hover {
  opacity: 0.8;
}

.idonthave {
  text-align: center;
  display: grid;
  margin: auto;
  font-size: 20px;
  line-height: 3.583;
  color: #84bc22;
}
.idonthave a {
  text-decoration: none;
  color: #84bc22;
}
.idonthave a:hover {
  opacity: 0.7;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/*-------------------------Media dysplaying none because all the css for media is in media-query.scss----*/
.media-dropdown {
  display: none;
}

.mobile-footer {
  display: none;
}

.footer2-media {
  display: none;
}

/*---------------------------------HOMEPAGE----------------------------*/
.homepage {
  display: flex;
  justify-content: center;
  margin: 4%;
}
.homepage .right-content {
  padding-left: 5%;
}
.homepage .right-content .btn55 {
  padding: 5px 40px;
  border-radius: 6px;
  position: relative;
  text-align: center;
  display: block;
  border: none;
  background-color: #84bc22;
  color: white;
  text-transform: uppercase;
}
.homepage .right-content .btn55 h1 {
  font-size: 100px;
  opacity: 1;
  font-weight: 900;
}
.homepage .right-content .btn55 h2 {
  text-align: center;
  width: 80%;
  font-weight: 400;
}
.homepage .right-content .btn55 img {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.078;
  height: 50%;
}
.homepage .right-content .socialmedia-text {
  font-size: 12px;
  text-align: center;
}
.homepage .right-content .socialmedia-text h2 {
  font-weight: 400;
}
.homepage .right-content .socialmedia-text h3 {
  font-weight: 400;
}
.homepage .right-content .socialmedia-text button {
  border-radius: 25px;
  border: 2px solid #3a5b96;
  background-color: transparent;
  padding: 10px 40px;
  font-size: 20px;
  color: #3a5b96;
}
.homepage .right-content .socialmedia-text button i {
  padding-right: 15px;
}
.homepage .right-content .socialmedia-text button a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}
.homepage .right-content .socialmedia-text :no-button:hover {
  background-color: #3a5b96;
  color: white;
}

/*---------Styling carousel banner---*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  color: white;
  /* Styling the Left text */
  /*Styling the center text */
  /*Styling the right text*/
}
.slideshow-container .text-left {
  position: absolute;
  font-size: 50px;
  top: 3%;
  left: 5%;
}
.slideshow-container .minitext-left {
  position: absolute;
  font-size: 15px;
  font-weight: 400;
  top: 50%;
  left: 6%;
}
.slideshow-container .viewmorebtn {
  position: absolute;
  border: 2px solid white;
  border-radius: 25px;
  background-color: transparent;
  padding: 10px 35px;
  bottom: 20%;
  left: 6%;
  text-transform: uppercase;
}
.slideshow-container .viewmorebtn a {
  text-decoration: none;
  color: inherit;
}
.slideshow-container .viewmorebtn:hover {
  background-color: white;
  color: black;
}
.slideshow-container .text-center {
  left: 20%;
  text-align: center;
}
.slideshow-container .minitext-center {
  left: 32%;
  text-align: center;
}
.slideshow-container .center {
  text-align: center;
  left: 42%;
}
.slideshow-container .text-right {
  position: absolute;
  font-size: 50px;
  top: 3%;
  right: 5%;
  text-align: right;
}
.slideshow-container .minitext-right {
  position: absolute;
  font-size: 15px;
  font-weight: 400;
  top: 50%;
  right: 10%;
  text-align: right;
}
.slideshow-container .viewmorebtn-right {
  position: absolute;
  border: 2px solid white;
  border-radius: 25px;
  background-color: transparent;
  padding: 10px 35px;
  bottom: 20%;
  right: 10%;
  text-transform: uppercase;
}
.slideshow-container .viewmorebtn-right a {
  text-decoration: none;
  color: inherit;
}
.slideshow-container .viewmorebtn-right:hover {
  background-color: white;
  color: black;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.alldots {
  position: absolute;
  text-align: center;
  bottom: 5%;
  width: 100%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0% 1%;
  background-color: white;
  border: 4px solid transparent;
  opacity: 0.502;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  border: 4px solid white;
  background-color: transparent;
  opacity: 1;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*-------------------------------------------POPULAR ITEMS---------------------*/
.popular-items-section {
  background-color: #262a32;
  color: white;
  padding: 4%;
  /* Clear floats after the columns */
}
.popular-items-section .popular-items-title {
  font-size: 30px;
  display: flex;
  flex-direction: row;
}
.popular-items-section .popular-items-title:before, .popular-items-section .popular-items-title:after {
  content: "";
  flex: 1 1;
  border-bottom: 3px solid white;
  margin: auto;
  margin-left: 50px;
  margin-right: 50px;
  opacity: 0.5;
}
.popular-items-section .products-list {
  display: flex;
  justify-content: row;
}
.popular-items-section .products-row {
  margin: 4% 0 4% 4%;
}
.popular-items-section .products-column {
  float: left;
  width: 25%;
  position: relative;
}
.popular-items-section .products-column .img {
  position: relative;
  text-align: center;
  width: 80%;
}
.popular-items-section .products-column .img .product-title {
  position: absolute;
  bottom: 15%;
  left: 7%;
  color: #45413e;
  font-size: 15px;
  font-weight: 400;
}
.popular-items-section .products-column .img .title-center {
  left: 25%;
}
.popular-items-section .products-column .img .price {
  position: absolute;
  bottom: 3%;
  left: 38%;
  color: #45413e;
  font-size: 15px;
}
.popular-items-section .products-column .img .image__overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 101%;
  height: 99.5%;
  border-radius: 5px;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.popular-items-section .products-column .img .image__overlay--primary {
  background-image: -webkit-linear-gradient(90deg, #1cc167 0%, #2ed3a2 100%);
}
.popular-items-section .products-column .img .image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}
.popular-items-section .products-column .img .image__overlay:hover {
  opacity: 0.902;
}
.popular-items-section .products-column .img .image__overlay:hover > * {
  transform: translateY(0);
}
.popular-items-section .products-column .img .buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.popular-items-section .products-column .img .buttons button {
  margin-left: 4%;
  border-radius: 50%;
  border: 2px solid transparent;
  padding: 8% 11%;
  font-size: 40px;
}
.popular-items-section .products-column .img .buttons .Plus-button {
  color: #23c46e;
}
.popular-items-section .products-column .img .buttons .Heart-button {
  color: #e73c68;
}
.popular-items-section .products-column .img .buttons1 {
  position: absolute;
  bottom: 3%;
  left: 20%;
  color: #45413e;
}
.popular-items-section .products-column .img .buttons1 .Price-button {
  background-color: transparent;
  border: 2px solid rgba(69, 65, 62, 0.502);
  padding: 6px;
  border-radius: 25px 0px 0px 25px;
}
.popular-items-section .products-column .img .buttons1 .Price-button a {
  text-decoration: none;
  color: #1cc167;
}
.popular-items-section .products-column .img .buttons1 .BuyNow-button {
  background-color: transparent;
  border: 2px solid rgba(69, 65, 62, 0.502);
  padding: 6px;
  border-radius: 0px 25px 25px 0px;
  margin-left: -2.5%;
}
.popular-items-section .products-column .img .buttons1 .BuyNow-button:hover {
  background-color: #84bc22;
  color: white;
}
.popular-items-section .products-column .img .image__overlay-gradient {
  z-index: 1;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 101%;
  height: 99.5%;
  border-radius: 5px;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  transition: opacity 0.25s;
  background-image: linear-gradient(to bottom, #dc5987, #675b99);
}
.popular-items-section .products-column .chat {
  position: absolute;
  width: 50%;
  bottom: 10%;
  left: 10%;
  z-index: 2;
}
.popular-items-section .products-column .chat i {
  color: #84bc22;
}
.popular-items-section .products-row:after {
  content: "";
  display: table;
  clear: both;
}
.popular-items-section .loadbtn-section {
  display: flex;
  justify-content: center;
}
.popular-items-section .load-btn {
  border: 2px solid white;
  border-radius: 25px;
  padding: 1% 8%;
  background-color: transparent;
  font-size: 18px;
  text-transform: uppercase;
}
.popular-items-section .load-btn i {
  margin-left: 4px;
}
.popular-items-section .load-btn:hover {
  background-color: #84bc22;
  color: black;
  border-color: #84bc22;
}
.popular-items-section .box-hidden {
  display: none;
}

/*---------------------BANNER OSF THEME------*/
.banner {
  width: 100%;
  text-align: center;
  color: white;
  position: relative;
}
.banner img {
  width: 100%;
}
.banner h1 {
  position: absolute;
  font-size: 70px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner h2 {
  position: absolute;
  font-size: 20px;
  font-weight: 400;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

/*------------------------FEATURED PRODUCTS--------------*/
.featured-products {
  background-color: #262a32;
  color: white;
  width: 100%;
  padding: 4% 0%;
  margin-top: -1%;
}
.featured-products .featured-products-title {
  text-align: center;
}
.featured-products .featured-products-title h1 {
  font-size: 36px;
}
.featured-products .featured-products-title h2 {
  font-size: 20px;
  font-weight: 400;
}
.featured-products .featured-products-title p {
  display: flex;
  flex-direction: row;
  font-size: xxx-large;
  width: 50%;
  margin: auto;
  margin-top: 5%;
}
.featured-products .featured-products-title p:before, .featured-products .featured-products-title p:after {
  content: "";
  flex: 1 1;
  border-bottom: 3px solid white;
  margin: auto;
  margin-left: 50px;
  margin-right: 50px;
  opacity: 0.5;
}
.featured-products .gallery {
  width: 80%;
  margin-left: 11%;
  margin-top: 5%;
}
.featured-products .gallery-cell {
  width: 22%;
  height: 286px;
  margin-left: 2%;
  color: #45413e;
}
.featured-products .gallery-cell .img-carousel {
  position: relative;
  text-align: center;
}
.featured-products .gallery-cell .img-carousel img {
  width: 100%;
  border-bottom: 96px solid white;
  border-radius: 6px;
}
.featured-products .gallery-cell .img-carousel h3 {
  position: absolute;
  bottom: 10%;
  left: 20%;
  font-weight: 400;
  font-size: 15px;
}
.featured-products .gallery-cell .img-carousel p {
  position: absolute;
  bottom: 0;
  left: 38%;
  font-weight: 700;
  font-size: 15px;
  color: #84bc22;
}
.featured-products .flickity-page-dots {
  display: none;
}

/*----------------BENEFITS CONTENT------------*/
.benefits-content {
  width: 100%;
  background-color: #45413e;
  color: white;
}
.benefits-content .benefits-content-content {
  display: flex;
  justify-content: space-between;
  padding: 3% 0%;
}
.benefits-content .benefits-content-content i {
  font-size: 110px;
  color: #84bc22;
  margin-top: 5%;
  margin-right: 5%;
}
.benefits-content .benefits-content-content .left-content, .benefits-content .benefits-content-content .center-content, .benefits-content .benefits-content-content .right-content {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
}
.benefits-content .benefits-content-content .text-content {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}
.benefits-content .benefits-content-content .text-content h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
}
.benefits-content .benefits-content-content .text-content p {
  font-size: 15px;
  font-weight: 400;
  color: #777471;
  margin-top: -2%;
}

/*--------------------------------------------------Footer--------------------------*/
.main-footer {
  width: 100%;
  background-color: white;
  color: black;
  padding: 3% 0%;
}
.main-footer .copyright {
  color: #45413e;
  font-size: 15px;
  font-weight: 700;
}
.main-footer a {
  text-decoration: none;
  line-height: 1.2;
  color: rgba(69, 65, 62, 0.502);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  display: block;
  padding-bottom: 7%;
}
.main-footer .inline {
  display: inline-flex;
  justify-content: center;
}
.main-footer .inline a {
  padding-right: 25%;
  font-size: 20px;
}

.footer-column {
  float: left;
  width: 12%;
  margin-left: 4%;
  margin-top: 0.5%;
}
.footer-column h2 {
  font-size: 15px;
  color: #333333;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin-top: 20%;
}
.footer-column .down {
  margin-bottom: 10%;
}
.footer-column .downsize {
  padding-bottom: 12%;
}
.footer-column #special-column {
  margin-top: 10%;
}
.footer-column #special-column a {
  color: #45413e;
  font-size: 15px;
  font-weight: 700;
}

/* Clear floats after the columns */
.footer-row:after {
  content: "";
  display: table;
  clear: both;
}

/*-------End Footer-----*/
/*---------------Category Landing Page Styling--------*/
.bodyforCLP {
  background-color: #f2edea;
}

/*---------Styling the content in the CLP-----*/
/*Styling the title*/
.CategoryLandingPagetitle {
  padding-top: 3%;
  text-align: center;
  word-spacing: 2em;
}
.CategoryLandingPagetitle p {
  font-size: 15px;
}
.CategoryLandingPagetitle p a {
  text-decoration: none;
  color: inherit;
}
.CategoryLandingPagetitle p a:hover {
  color: #85c441;
}
.CategoryLandingPagetitle h2 {
  font-size: 50px;
  font-weight: 900;
}
.CategoryLandingPagetitle h2:before, .CategoryLandingPagetitle h2:after {
  content: "";
  flex: 1 1;
  border-bottom: 3px solid #84bc22;
  margin: auto;
  margin-left: 50px;
  margin-right: 50px;
  opacity: 1;
}

.Filters {
  background-color: white;
  padding: 2%;
  margin: 4%;
  /* Clear floats after the columns */
}
.Filters .filters-row {
  width: 100%;
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 4%;
}
.Filters .filters-row:after {
  content: "";
  display: table;
  clear: both;
}
.Filters .filters-column {
  float: left;
  width: 33%;
}
.Filters .filters-column label {
  margin-right: 20px;
}
.Filters .filters-column select {
  border: 2px solid #45413e;
  border-radius: 25px;
  padding: 2%;
  padding-right: 20%;
  outline: none;
}
.Filters .filters-column .color-dot {
  height: 15px;
  width: 15px;
  margin-left: 4px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  border: 3px solid transparent;
}
.Filters .filters-column .color-dot:hover {
  border: 3px solid black;
}
.Filters .filters-column .dot1 {
  background-color: white;
  border: 3px solid black;
}
.Filters .filters-column .dot2 {
  background-color: #43c0cf;
}
.Filters .filters-column .dot3 {
  background-color: black;
}
.Filters .filters-column .dot3:hover {
  opacity: 0.5;
}
.Filters .filters-column .dot4 {
  background-color: #84bc22;
}
.Filters .filters-column .dot5 {
  background-color: #315bbd;
}
.Filters .filters-column .dot6 {
  background-color: #ec6115;
}
.Filters .filters-column .dot7 {
  background-color: #dc041d;
}
.Filters .filters-column .dot8 {
  background-color: #efead7;
}

.CLP-products {
  margin: 2% 4%;
  text-align: center;
}
.CLP-products .title-products {
  margin-bottom: 2%;
}
.CLP-products .CLP-products-row {
  margin: 4% 0% 4% 4%;
}
.CLP-products .CLP-products-row .CLP-products-column {
  float: left;
  width: 25%;
  position: relative;
}
.CLP-products .CLP-products-row .CLP-products-column .img {
  position: relative;
  text-align: center;
  width: 80%;
}
.CLP-products .CLP-products-row .CLP-products-column .img .product-title {
  position: absolute;
  bottom: 15%;
  left: 7%;
  color: #45413e;
  font-size: 15px;
  font-weight: 400;
}
.CLP-products .CLP-products-row .CLP-products-column .img .title-center {
  left: 25%;
}
.CLP-products .CLP-products-row .CLP-products-column .img .price {
  position: absolute;
  bottom: 3%;
  left: 38%;
  color: #bdc3c7;
  font-size: 15px;
}
.CLP-products .CLP-products-row:after {
  content: "";
  display: table;
  clear: both;
}
.CLP-products .CLP-load-btn {
  border: 2px solid #bdc3c7;
  border-radius: 25px;
  padding: 1% 8%;
  background-color: #84bc22;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}
.CLP-products .CLP-load-btn:hover {
  opacity: 0.7;
}
.CLP-products .box-hidden {
  display: none;
}

/*---------------404 page Styling--------*/
.page404-content {
  background-color: white;
  margin: 4%;
  display: flex;
  justify-content: right;
}
.page404-content .content-left {
  position: relative;
}
.page404-content .content-left svg {
  margin-top: 15%;
  position: relative;
}
.page404-content .content-left h2 {
  position: absolute;
  top: 10%;
  left: 30%;
  font-size: 120px;
  color: #84bc22;
}
.page404-content .content-right {
  margin-left: 4%;
  width: 100%;
  margin-top: 5%;
  line-height: 1.2;
}
.page404-content .content-right h1 {
  font-weight: 700;
  font-size: 30px;
}
.page404-content .content-right p {
  width: 80%;
  padding-bottom: 2%;
  font-weight: 400;
}
.page404-content .content-right a {
  text-decoration: none;
  color: #84bc22;
}
.page404-content .content-right button {
  border: 2px solid #e8e2d6;
  background-color: transparent;
  border-radius: 25px;
  padding: 1% 80% 1% 2%;
  text-transform: uppercase;
  position: relative;
}
.page404-content .content-right button i {
  color: rgba(69, 65, 62, 0.502);
  position: absolute;
  right: 4%;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
