/*--------------------------Values saved----------------*/
/* use viewport-relative units to cover page fully */
body {
  font-family: "Lato", sans-serif;
  background-color: #d7d7d7;
}

/*--------------------- Style of the body---------------- */
/* ---------------------The header style -------------------*/
.header {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  padding: 10px 10px 10px 0px;
  background-color: white;
  border-bottom: 3px solid #e8e2d6;
  margin-left: -1%;
  z-index: 12;
  /*-------------------- Style the header-links --------------*/
}
.header a {
  color: black;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  /*-------------------------left header styling-------------------*/
}
.header a .logo {
  font-size: 25px;
}
.header a.logo img {
  width: 30%;
}
.header a.logo h1 {
  float: right;
  line-height: 1.2;
  font-size: 31.655px;
  color: #011847;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  left: 11%;
  top: -8%;
}

.Academy {
  font-size: 18px;
  color: #84bc22;
  position: absolute;
  font-weight: 700;
}

/*----------------Styling the header-center and header-right----*/
.header-center, .header-right {
  padding-top: 1.4%;
  font-weight: 700;
}

/*------------------------------Styling the dropdown content--------------------------*/
.dropdown, .dropdown2 {
  position: relative;
  display: inline-block;
}

/* --------------------Dropdown Content (Hidden by Default) -------------------*/
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #262a32;
  width: 97%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 2.15%;
  left: 50%;
  transform: translateX(-50%);
  /* ----------------------------Links inside the dropdown ---------------*/
}
.dropdown-content a {
  color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  display: block;
  margin-left: -12px;
}

/*------------------------------Columns for the mega menu--------------*/
.column {
  float: left;
  width: 15%;
  margin-left: 5%;
  margin-top: 2.5%;
  margin-bottom: 3%;
  /*-----------------------------Styling the Titles in the dropdown contect---*/
  /*------Styling the empty space to keep all the columns inside the dropdown at the same level--*/
  /*----------------------style the image in the dropdown content-----*/
}
.column h2 {
  color: white;
  font-size: 18px;
  font-weight: 900;
}
.column .downsize {
  font-size: 64px;
}
.column img {
  width: 140%;
  margin-top: 20%;
  margin-left: -60%;
  border-radius: 5%;
}

/* ----------------------Clear floats after the columns -----------------*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* --------------------Show the dropdown menu on hover------------------ */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* and for the rest of the buttons to be some hover over them */
.dropdown:hover .dropbtn,
.header-center .princ-button:hover {
  background-color: #262a32;
  color: white;
  border-bottom: 5px solid #84bc22;
  padding-bottom: 30px;
}

/*--A little distance for the dropdown arrow on Services---*/
.fa-sort-down {
  margin-left: 5px;
}

/*------------------------------------DROPDOWN2-----------------------------*/
#droptdownbtn2 {
  color: rgba(69, 65, 62, 0.502);
}

.dropdown-content2 {
  display: none;
  position: fixed;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  justify-content: flex-start;
  /* Links inside the dropdown */
}
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content2 a:hover {
  background-color: #e4e3e3;
}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content2 {
  display: block;
}

/*------------------Styling the header-right--------*/
.header-right a {
  font-size: 25px;
  margin-left: 20px;
  color: #45413e;
  opacity: 0.502;
  font-weight: 400;
}
.header-right .fa-heart:hover, .header-right .fa-shopping-bag:hover {
  color: #84bc22;
  opacity: 1;
}
.header-right #user-icon {
  width: auto;
}

/*--------------Modal form Log In----------*/
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.741);
  /* Black w/ opacity */
  z-index: 13;
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  width: 30%;
  /* Could be more or less, depending on screen size */
  border-radius: 6px;
  padding: 10px 0px;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
.imgcontainer h1 {
  color: #45413e;
  font-weight: 900;
  font-size: 40px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: -80%;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  opacity: 0.5;
  cursor: pointer;
}

.container {
  padding: 60px;
}

/* The fields of the email and lato */
input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #d7d7d7;
  box-sizing: border-box;
  border-radius: 25px;
  outline: none;
  font-weight: 400;
  margin-bottom: 40px;
  background-color: transparent;
  z-index: 1;
}

#password {
  position: relative;
}

/* the styling of the forgot password */
span.psw {
  float: right;
}
span.psw a {
  text-decoration: none;
  color: #84bc22;
  font-weight: 700;
}

.input-container {
  position: relative;
}
.input-container .fa-eye {
  float: right;
  opacity: 0.7;
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
}

/* Set a style for all buttons */
.loginbtn {
  background-color: #84bc22;
  color: white;
  padding: 14px 100px;
  margin: 8px 0;
  border-style: solid;
  border-width: 2px;
  border-color: #84bc22;
  cursor: pointer;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  /*we put the button in the center of the modal container */
  display: grid;
  margin: auto;
}

.loginbtn:hover {
  opacity: 0.8;
}

.idonthave {
  text-align: center;
  display: grid;
  margin: auto;
  font-size: 20px;
  line-height: 3.583;
  color: #84bc22;
}
.idonthave a {
  text-decoration: none;
  color: #84bc22;
}
.idonthave a:hover {
  opacity: 0.7;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/*-------------------------Media dysplaying none because all the css for media is in media-query.scss----*/
.media-dropdown {
  display: none;
}

.mobile-footer {
  display: none;
}

.footer2-media {
  display: none;
}

/*---------------------------------HOMEPAGE----------------------------*/
.homepage {
  display: flex;
  justify-content: center;
  background-color: rgba(69, 65, 62, 0.502);
  margin-top: 4%;
}
.homepage .right-content {
  padding-left: 5%;
}
.homepage .right-content .btn55 {
  padding: 14px 50px;
}
.homepage .right-content .socialmedia-text {
  font-size: 12px;
}

/*---------Styling carousel banner---*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text-left {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.products {
  background-color: #011847;
  color: white;
  margin-top: 4%;
}

/*--------------------------------------------------Footer--------------------------*/
.main-footer {
  width: 100%;
  background-color: white;
  color: black;
  padding: 3% 0%;
}
.main-footer .copyright {
  color: #45413e;
  font-size: 15px;
  font-weight: 700;
}
.main-footer a {
  text-decoration: none;
  line-height: 1.2;
  color: rgba(69, 65, 62, 0.502);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  display: block;
  padding-bottom: 7%;
}
.main-footer .inline {
  display: inline-flex;
  justify-content: center;
}
.main-footer .inline a {
  padding-right: 25%;
  font-size: 20px;
}

.footer-column {
  float: left;
  width: 12%;
  margin-left: 4%;
  margin-top: 0.5%;
}
.footer-column h2 {
  font-size: 15px;
  color: #333333;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin-top: 20%;
}
.footer-column .down {
  margin-bottom: 10%;
}
.footer-column .downsize {
  padding-bottom: 12%;
}
.footer-column #special-column {
  margin-top: 10%;
}
.footer-column #special-column a {
  color: #45413e;
  font-size: 15px;
  font-weight: 700;
}

/* Clear floats after the columns */
.footer-row:after {
  content: "";
  display: table;
  clear: both;
}

/*-------End Footer-----*/

/*# sourceMappingURL=style.css.map */
